@import "../../../../../utilities/constants";

.block-third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $font-color-second;

    .article-ele {
      text-align: center;
      animation-duration: 0.3s;
      animation-name: slidein;
    }
  }

  h2 {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @keyframes slidein {
    from {
      translate: 15vw 0;
      color: transparent;
    }

    to {
      translate: 0 0;
    }
  }
}
