@import "../../../../../utilities/constants";

.block-third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &__articles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $font-color-second;

    &__ele {
      text-align: center;
      animation-duration: 0.3s;
      animation-name: slidein;
    }
  }

  @keyframes slidein {
    from {
      transform: translateX(15vw);
      color: transparent;
    }

    to {
      transform: translateX(0);
    }
  }
}
