<div class="block-first-container">
  <h2>Blok Pierwszy</h2>
  <form [formGroup]="optionsForm">
    <div class="radio-container">
      <label class="radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="radio-input"
          value="first"
          id="option1"
        />
        <span class="radio-custom"></span>
        <span class="radio-text">Opcja pierwsza</span>
      </label>
      <label class="radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="radio-input"
          value="second"
          id="option2"
        />
        <span class="radio-custom"></span>
        <span class="radio-text">Opcja druga</span>
      </label>
      <label class="radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="radio-input"
          value="random"
          id="option3"
        />
        <span class="radio-custom"></span>
        <span class="radio-text">Opcja losowa</span>
      </label>
    </div>
  </form>
</div>
