<div class="block-first">
  <h2 class="block-first__header">Blok Pierwszy</h2>
  <form [formGroup]="optionsForm" class="block-first__form">
    <div class="block-first__radio-container">
      <label class="block-first__radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="block-first__radio-input"
          value="first"
          id="option1"
        />
        <span class="block-first__radio-custom"></span>
        <span class="block-first__radio-text">Opcja pierwsza</span>
      </label>
      <label class="block-first__radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="block-first__radio-input"
          value="second"
          id="option2"
        />
        <span class="block-first__radio-custom"></span>
        <span class="block-first__radio-text">Opcja druga</span>
      </label>
      <label class="block-first__radio-label">
        <input
          formControlName="option"
          type="radio"
          name="option"
          class="block-first__radio-input"
          value="random"
          id="option3"
        />
        <span class="block-first__radio-custom"></span>
        <span class="block-first__radio-text">Opcja losowa</span>
      </label>
    </div>
  </form>
</div>
