<div class="block-first">
  <h2>Blok Pierwszy</h2>
  <form [formGroup]="optionsForm">
    <input formControlName="option" type="radio" name="option" value="first" id="option1" />
    <label for="option1">Opcja pierwsza</label><br />
    <input formControlName="option" type="radio" name="option" value="second" id="option2" />
    <label for="option2">Opcja druga</label><br />
    <input formControlName="option" type="radio" name="option" value="random" id="option3" />
    <label for="option3">Opcja losowa</label>
  </form>
</div>
