@import "../../../../../utilities/constants";

main {
  padding-top: $footer-height;
  min-height: calc(100vh - $header-height - $footer-height);

  div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    // height: calc(100vh - (2 * $footer-height));
  }

  h1{
    text-align: center;
  }
}

@media (max-width: 960px) {
  main > div {
    flex-direction: column;
    align-items: center;
  }
}
