@import "../../../../../utilities/constants";

.main {
  padding: $footer-height $padding-horizontal 0 $padding-horizontal;
  min-height: calc(100vh - $header-height - $footer-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  &__title {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    position: relative;

    &::after {
      content: "";
      width: -webkit-fill-available;
      height: 0.05rem;
      background: $font-color-second;
      position: absolute;
      bottom: -1rem;
      left: 0.5em;
      right: 0.5em;
    }
  }

  &__container {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    > * {
      width: 30%;
    }

    @media (max-width: 960px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      > .main__options,
      > .main__tools {
        order: 1;
        width: 50%;
      }

      > .main__description {
        order: 2;
        width: 100%;
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 960px) {
    padding: $footer-height calc($padding-horizontal / 2) 0 calc($padding-horizontal / 2);
    min-height: calc(100vh - $header-height - $footer-height);
  }
}
