$detail-color: #673ab7;
$main-color: #4e4c48;
$background-color: hsl(244, 17%, 33%);
$primary-color: #ff6600;
$secondary-color: #333333;
$font-color: #ffffff;
$font-color-second: #7e7e7e;
$footer-height: 50px;
