$detail-color: #673ab7;
$main-color: #2a2d36;
$background-color: #2a2d36;
$primary-color: #ff6600;
$secondary-color: #333333;
$font-color: #ffffff;
$font-color-second: #7e7e7e;
$footer-height: 90px;
$header-height: 50px;
