$detail-color: #673ab7;
$background-color: #2a2d36;
$background-footer-color: #15161a;
$background-header-color: #0b0c10;
$primary-color: #ffa500;
$secondary-color: #333333;
$font-color: #ffffff;
$font-color-second: #8c909b;
$footer-height: 120px;
$header-height: 120px;
$padding-horizontal: 3rem;
