<footer class="footer">
  <div class="footer-left">
    <div class="border-container"></div>
    <div class="text-container">
      <p>CSS</p>
      <p>IS</p>
      <p>AWESOME</p>
    </div>
  </div>
  <div class="footer-center">
    <h1>nabthat</h1>
  </div>
  <div class="footer-right">
    <input
      type="checkbox"
      id="dropdown-toggle"
      class="dropdown-toggle"
      [(ngModel)]="isChecked"
    />
    <label for="dropdown-toggle" class="dropdown-label">
      <ng-container *ngIf="isChecked; else elseText">
        UKRYJ <span class="material-symbols-outlined">
          keyboard_arrow_up
          </span></ng-container>
      <ng-template #elseText> POKAŻ <span class="material-symbols-outlined">
        keyboard_arrow_down
        </span></ng-template>
    </label>
    <div class="dropdown-menu">
      <button (click)="resetContent()" class="dropdown-item">
        <span class="material-symbols-outlined">
          keyboard_arrow_right
          </span>ZRESETUJ USTAWIENIA
      </button>
      <button (click)="switchPersonalDataVisibility()" class="dropdown-item">
        <span class="material-symbols-outlined">
          keyboard_arrow_right
          </span>
        <ng-container
          *ngIf="!showPersonalDataContent; else elseshowPersonalDataContent"
        >
          <span>POKAŻ DANE OSOBOWE</span>
        </ng-container>
        <ng-template #elseshowPersonalDataContent>
          <span>UKRYJ DANE OSOBOWE</span>
        </ng-template>
      </button>
    </div>
  </div>
</footer>
