@import "../../../utilities/constants";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-button {
      cursor: pointer;
  }
  .footer-content {
      display: none;
      button {
          margin: 5px;
      }
  }
  .css-awesome {
      margin-left: auto;
      margin-right: 20px;
      &:hover {
          animation: rotate 1s infinite;
      }
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
