<footer class="footer">
  <div class="footer-left">
    <div class="footer-text">
      <div class="text-container">
        <span>CSS</span>
        <span>IS</span>
        <span>AWESOME</span>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <h1>nabthat</h1>
  </div>
  <div class="footer-right">
    <input type="checkbox" id="dropdown-toggle" class="dropdown-toggle" />
    <label for="dropdown-toggle" class="dropdown-label"
      >POKAŻ <span>&#9662;</span></label
    >
    <div class="dropdown-menu">
      <button (click)="resetContent()" class="dropdown-item">ZRESETUJ USTAWIENIA</button>
      <button (click)="showName()" class="dropdown-item">POKAŻ DANE OSOBOWE</button>
    </div>
  </div>
</footer>
