<footer class="footer">
  <div class="footer__left-container">
    <div class="footer__left">
      <div class="footer__border-container"></div>
      <div class="footer__text-container">
        <p>CSS</p>
        <p>IS</p>
        <p>AWESOME</p>
      </div>
    </div>
  </div>
  <div class="footer__center">
    <h1 class="footer__title" aria-label="Najlepsza firma">nabthat</h1>
  </div>
  <div class="footer__right">
    <input
      type="checkbox"
      id="dropdown-toggle"
      class="footer__dropdown-toggle"
      [(ngModel)]="isChecked"
    />
    <label for="dropdown-toggle" class="footer__dropdown-label">
      <ng-container *ngIf="isChecked; else elseText">
        <b>UKRYJ</b>
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </ng-container>
      <ng-template #elseText>
        <b>POKAŻ</b>
        <span class="material-symbols-outlined">keyboard_arrow_up</span>
      </ng-template>
    </label>
    <div class="footer__dropdown-menu">
      <button (click)="resetContent()" aria-label="Zresetuj ustawienia" class="footer__dropdown-item">
        <span class="material-symbols-outlined">keyboard_arrow_right</span>
        <b>ZRESETUJ USTAWIENIA</b>
      </button>
      <button (click)="switchPersonalDataVisibility()" aria-label="Pokaż dane osobowe" class="footer__dropdown-item">
        <span class="material-symbols-outlined">keyboard_arrow_right</span>
        <ng-container *ngIf="!showPersonalDataContent; else elseshowPersonalDataContent">
          <span><b>POKAŻ DANE OSOBOWE</b></span>
        </ng-container>
        <ng-template #elseshowPersonalDataContent>
          <span><b>UKRYJ DANE OSOBOWE</b></span>
        </ng-template>
      </button>
    </div>
  </div>
</footer>
