@import "../../../utilities/constants";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  position: relative;
  height: $footer-height;

  .footer-left {
    .footer-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ffa500;
      padding: 10px;
      cursor: pointer;
    }
  }

  .footer-right {
    position: relative;

    .dropdown-toggle {
      display: none;

      &:checked ~ .dropdown-menu {
        display: block;
      }
    }

    .dropdown-label {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #2d2d2d;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #444;
      border-radius: 5px;
      overflow: hidden;
      z-index: 1000;

      .dropdown-item {
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #444;
          color: #ffa500;
        }
      }
    }
  }
}
