@import "normalize.css";
@import "./utilities/constants";

html {
  height: 100dvh;
  background-color: $background-color;

  body {
    font-family: "Open Sans" !important;
    color: $font-color;
    height: 100dvh;
  }
}
