@import "normalize.css";
@import "./utilities/constants";

html {
  height: 100%;

  body {
    font-family: "OpenSans", sans-serif;
    background-color: $background-color;
    color: $font-color;
    height: 100%;
    overflow: hidden;
  }
}
